<div>
    <h1 class="rsvp-title">RSVP to our Wedding</h1>
    <div class="rsvp-form">
        <form [formGroup]="rsvpForm" (ngSubmit)="onSubmit()" class="form-contents">
            <div class="form-input">
                <label for="guest-name" class="form-label">Guest Full Name: </label>
                <input id="guest-name" type="text" formControlName="name" class="name-input">
            </div>

            <div class="form-input">
                <label for="guest-plusOne" class="form-label">Plus One Full Name: </label>
                <input id="guest-plusOne" type="text" formControlName="plusOneName" class="name-input">
            </div>

            <div class="form-input">
                <label for="guest-kids" class="form-label">Number of Children: </label>
                <input id="guest-kids" type="number" formControlName="numberOfChildren" class="name-input" min="0" max="5" placeholder="0">
            </div>

            <div class="accept-inputs">
                <label for="guest-accepts" class="form-label">Joyfully Accepts: </label>
                <input id="guest-accepts" type="radio" formControlName="guestAccepts" value="true">
            </div>

            <div class="accept-inputs">
                <label for="guest-declines" class="form-label">Regretfully Declines: </label>
                <input id="guest-declines" type="radio" formControlName="guestAccepts" value="false">
            </div>

            <div class="form-input">
                <button type="submit" class="btn-submit">Submit</button>
            </div>
        </form>
    </div>
</div>
