.rsvp-title {
    text-align: center;
    font-size: 60px;
    font-style: italic;
    /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
}

.rsvp-form {
    text-align: center;
    font-family: serif;
    font-style: oblique;
}

.form-contents {
    display: inline-grid;
    width: 50%;
}

.form-label{
    float: left;
    font-size: 45px;
    width: max-content;
    color: cornsilk;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.name-input {
    float: right;
    width: 20em;
    height: 3em;
}

.form-input {
    margin-bottom: 25px;
}

.accept-inputs {
    margin-bottom: 25px;
    max-width: 75%;
}

input[type='radio'] { 
    transform: scale(2); 
    float: right;
    margin-top: 20px;
}

.btn-submit {
    font-style: oblique;
    font-family: serif;
    font-size: 20px;
    width: 6em;
    color: black;
    background-color: cornsilk;
}

@media (max-width: 555px) {
    .rsvp-form {
        font-family: serif;
        font-style: oblique;
    }

    .form-contents {
        display: inline-grid;
        width: fit-content;
    }
}
