<div>
    <h1 class="rsvp-title">RSVP to our Wedding</h1>
    <div class="rsvp-form">
        <form ngNoForm id="rsvpForm" class="form-contents" method="POST" action="https://script.google.com/macros/s/AKfycbzB_ISVMgq4XqMW9LhiTGagLcX3iS9MD2gfUHb8MsygqyESCLt41-OrsS78rFmJZuIC/exec">
            <div class="form-input">
                <label class="form-label">Guest Full Name: </label>
                <input name="GuestName" type="text" class="name-input">
            </div>

            <div class="form-input">
                <label class="form-label">Plus One Full Name: </label>
                <input name="PlusOneName" type="text" class="name-input">
            </div>

            <div class="form-input">
                <label class="form-label">Number of Children: </label>
                <input name="NumberOfChildren" type="number" class="name-input" min="0" max="5" placeholder="0">
            </div>

            <div class="form-input">
                <label class="form-label">Song Request: </label>
                <input name="SongRequest" type="text" class="name-input">
            </div>

            <div class="form-input">
                <button type="submit" class="btn-submit" [disabled]="isSubmitted">Submit</button>
            </div>
        </form>
    </div>
</div>
