<div class="float-container">
    <div class="float-child">

    </div>
    <div class="float-child">
        <h1 class="ww-title"><a href="https://lonesummitranchevents.com/" target="_blank">Lone Summit Ranch</a></h1>
        <h3 class="ww-subtitle"><a href="https://goo.gl/maps/ue8EzSAy6MFV1Ktu9" target="_blank">28701 East Old US Hwy 50, Lee's Summit, MO 64086</a></h3>
        <h1 class="ww-title">Sunday October 9th, 2022</h1>
        <h3 class="ww-subtitle">At 3:30 in the Afternoon</h3>
    </div>
</div>
